:root{
    /* Colors */
    --background-color: #415380;
    --background-color-2: #39496f;
    --primary-color: #aee5d1;
    --secondary-color: #e4e4e4;
    --secondary-color-2: #f2f2f2;

    --text-color: #0d0000;
}